<h2>Books</h2>
<table>
    <tr>
        
        <td>Title</td>
        <td>Price</td>
        <td>Author</td>
        <td>Id</td>
    </tr>
    <tr *ngFor="let book of books">
        
        <td>{{ book.title }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.id }}</td>
        <td> 
            <a routerLink="/edit/{{book.id}}" [state]="book">Edit</a> 
        </td>
        <td><button (click)="onDelete(book.id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
</table>

    