<header>
    <h2>Book</h2>
  </header>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="Author" class="control-label">Author</label>
          <input type="text" name="Author" id="Author" class="form-control" formControlName="Author">
        </div>
        <div class="form-group">
          <label for="Title" class="control-label">Title</label>
          <input type="text" name="Title" id="Title" class="form-control" formControlName="Title">
        </div>
        <div class="form-group">
          <label for="Price" class="control-label">Price</label>
          <input type="number" name="Price" id="Price" class="form-control" formControlName="Price"> 
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>
