section {
    background-color: rgb(246, 247, 248);
    top: 81px;
}

.outer-container {
    background-color: rgb(8, 22, 36);

}

header {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
