<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container-fluid kmc-header-container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center kmc-header">Edit Book With Id: {{book.Id}}</h1>
        </div>
    </div>
</div>

<div class="container-fluid kmc-form-container">
    <div class="kmc-form">
        <div class="form-group">
            <label class="kmc-form-title" for="Book.Title">Title</label>
            <input [(ngModel)]="book.Title" type="text" class="form-control kmc-input" required>
        </div>
        <div class="form-group">
            <label class="kmc-form-title" for="Book.Price">Price</label>
                    <input type="number" class="form-control kmc-input" [(ngModel)]="book.Price" required>
            
        </div>
        <div class="form-group">
            <label class="kmc-form-title" for="Book.Author">Author</label>
            <input type="text" class="form-control kmc-input" [(ngModel)]="book.Author" required>
        </div>           
        <button (click)="postBook()" class="btn-block btn-primary btn-lg">Submit</button> 
        <button (click)="goBack()" class=" btn-block btn-danger btn-lg">Cancle</button>    
    </div>
</div>