.kmc-form 
{
    padding-left: 15%;
    padding-right: 15%;
}

.kmc-header 
{
    font: large;
    color: rgb(246, 247, 248);
    font-size: 60px;
}

.kmc-form-container 
{
    background-color: rgb(246, 247, 248);
    min-height: 80vh;
}

.kmc-header-container 
{	
    background-color: rgb(66,139,202);
    min-height: 9vh;
}

.kmc-form-title 
{
    height: 20px;
    min-height: 50px;
    max-height: 300px;
    font-size: 40px;
    color: rgb(66,139,202);
}

.kmc-input 
{
    height: 5vh;
    min-height: 50px;
    max-height: 200px;
    font-size: 30px;
    background-color: ghostwhite;
    color: black;
    margin-bottom: 8vh;
}

